@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
 <h1>@ViewData["Portafolio"]</h1>
@* <p>Bienvenido a mi portafolio. Soy [Zunny Vega Guevara],
    una [Ingenieria Informatica] 
    con un interés en [Ciberseguridad].</p>
<p>Mis objetivos profesionales incluyen [Cumplir siempre con mi].</p> *@

    <div class="container">
        <div class="content">
            <div class="section">
                <h2>Información Personal</h2>
                <table class="info-table">
                    <tr>
                        <th>Nombre Completo</th>
                        <td>Zunny Lisbeth Vega Guevara</td>
                    </tr>
                    <tr>
                        <th>Fecha de Nacimiento</th>
                        <td>23/10/2000</td>
                    </tr>
                    <tr>

                        <th>Ciudadanía</th>
                        <td>Costarricense</td>
                    </tr>
                    <tr>
                        <th>Disponibilidad</th>
                        <td>Completa</td>
                    </tr>
                </table>
            </div>

            <div class="section">
                <h2>Formación Académica</h2>
                <p><strong>Carrera:</strong> Ingeniería Informática</p>
                <p><strong>Técnico Profesional:</strong> Ciberseguridad</p>
            </div>

            <div class="section objectives">
                <h2>Objetivos Personales</h2>
                <ul>
                    <li>Especializarme en Ciberseguridad</li>
                    <li>Contribuir al desarrollo de soluciones tecnológicas seguras y eficientes</li>
                    <li>Participar en proyectos que promuevan la seguridad informática a nivel global</li>
                </ul>
            </div>
        </div>
    </div>

  

