@page
@model PROYECTO_PROGRA.Pages.skillsModel
@{
    ViewData["Title"] = "Habilidades";
}
<h2>@ViewData["Title"]</h2>
<ul>
    <li>HTML/CSS</li>
    <li>JavaScript</li>
    <li>C#</li>
    <li>ASP.NET Core</li>
    <li>Linux</li>
    <li>Cisco </li>
    <!-- Añadir más habilidades según sea necesario -->
</ul>
